<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>
app/views/posts/new.html.erb 
  <h1>新規投稿</h1> 
  <%= form_tag do %> 
  タイトル 
    <input type="text"> 
  本文 
    <textarea></textarea> 
    <input type="submit" value="投稿する"> 
  <% end %> 