<h1>投稿を編集する</h1>
<%= form_tag update_post_path(@post.id), method: 'patch'  do %>
  <%= text_field_tag :title, @post.title %>
  <%= text_area_tag :body, @post.body %>
  <%= submit_tag '保存' %>
<% end %>
